.carousel
  {
    height: 600px;
    opacity: 0.8;
  }

.carouselThumbnail
  {
    height: 200px;
    width: auto;
    object-fit: cover;
  }
  
.dragableImage
  {
    height: auto;
    width: 300px;
    object-fit: cover;
  }
    
.slick-slide img {
    display: inline !important;
}

.slider-container
{
  margin-bottom: 50px;
}

.reorderGroup
{
  list-style-type: none;
  text-align: center;
  margin-left:150px;
}

.reorderGroup li
{
  margin-top:30px;
  border-top: solid 3px;
  border-bottom: solid 3px;
  padding:10px 0 10px 0;
  width:600px;
  cursor: pointer; 
  
}

.reorderGroupDiv
{
  text-align: right;
}

.deleteImageButtonDiv
{
  margin-top:5px;
  
  text-align: right;
}

.deleteImageButton
{
  margin-left:10px;
}

.padtop10
{
  padding: 40px 0 0 60px;
}
