.carousel
  {
    height: 600px;
    opacity: 0.8;
  }

.carouselThumbnail
  {
    height: 200px;
    width: auto;
    object-fit: cover;
  }
  
.slick-slide img {
    display: inline !important;
}

.slider-container
{
  margin-bottom: 50px;
}

